html, body {
    height: 100%;
}

/* This makes the site always in dark mode */
body { 
  background-color: black; 
  color: LightGrey;
}

/* Link Coloring */
body a {
  color: CadetBlue;
}
body a:hover {
  color: LightGrey;
}

footer {
  color: DarkGrey;
}
